In [64]:
import pandas as pd
from sklearn.cluster import MeanShift

In [65]:
data = pd.read_table('./201309_foursquare_dataset_umn/fsq/umn_foursquare_datasets/checkins.dat', sep= '|', skipinitialspace=True, skiprows=[1])

/home/roma/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead.
  """Entry point for launching an IPython kernel.
/home/roma/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [66]:
data.dropna(inplace=True)
data.columns = data.columns.str.strip()
data.set_index('id')
data.sort_index()

,id,user_id,venue_id,latitude,longitude,created_at
1,984222,15824.0,5222.0,38.895112,-77.036366,2012-04-21 17:43:47
3,984234,44652.0,5222.0,33.800745,-84.410520,2012-04-21 17:43:43
7,984291,105054.0,5222.0,45.523452,-122.676207,2012-04-21 17:39:22
9,984318,2146539.0,5222.0,40.764462,-111.904565,2012-04-21 17:35:46
10,984232,93870.0,380645.0,33.448377,-112.074037,2012-04-21 17:38:18
11,984483,1030290.0,955969.0,32.221743,-110.926479,2012-04-21 17:58:54
12,984685,304253.0,23558.0,40.650000,-73.950000,2012-04-21 18:19:34
13,984470,720850.0,749715.0,33.448377,-112.074037,2012-04-21 17:02:47
15,984610,1639666.0,442605.0,33.414768,-111.909309,2012-04-21 18:04:58
18,984653,1647192.0,23558.0,42.358431,-71.059773,2012-04-21 18:23:22
19,984251,298547.0,77014.0,33.448377,-112.074037,2012-04-21 17:34:33
20,984528,2046311.0,15682.0,33.414768,-111.909309,2012-04-21 18:18:29
25,984438,2096701.0,4432.0,33.448377,-112.074037,2012-04-21 18:21:19
26,984277,1648816.0,18006.0,33.248664,-111.634299,2012-04-21 17:49:30
27,984320,349414.0,819.0,32.840678,-117.258794,2012-04-21 17:27:36
29,984359,1861538.0,819.0,34.052234,-118.243685,2012-04-21 17:18:22
34,984294,1447044.0,1135957.0,33.414768,-111.909309,2012-04-21 17:33:12
35,984336,2064557.0,111071.0,33.448377,-112.074037,2012-04-21 16:25:00
38,984527,1243334.0,989443.0,34.483901,-114.322455,2012-04-21 18:22:59
40,984326,2046338.0,989443.0,34.048928,-111.093731,2012-04-21 17:56:27
41,984454,2098254.0,610703.0,32.715329,-117.157255,2012-04-21 17:49:30
42,984395,1508584.0,410624.0,33.448377,-112.074037,2012-04-21 17:58:10
46,984231,1868751.0,21948.0,38.895112,-77.036366,2012-04-21 15:53:38
47,984322,1096457.0,10935.0,33.745851,-117.826166,2012-04-21 18:10:08
49,984474,2146888.0,10935.0,34.096111,-118.105833,2012-04-21 17:39:56
50,984355,966186.0,10935.0,34.052234,-118.243685,2012-04-21 18:03:47
52,984345,482032.0,10935.0,37.629349,-122.400087,2012-04-21 18:04:38
53,984508,2146895.0,10935.0,4.598056,-74.075833,2012-04-21 17:38:25
54,984381,28655.0,10935.0,33.804167,-118.158056,2012-04-21 17:59:40
55,984346,2098173.0,11195.0,40.735657,-74.172367,2012-04-21 18:17:31
...,...,...,...,...,...,...
1021885,936189,610763.0,7491.0,41.499495,-81.695409,2012-04-11 05:46:31
1021887,936836,610763.0,64.0,41.499495,-81.695409,2012-04-11 11:19:55
1021890,937236,287341.0,9310.0,30.267153,-97.743061,2012-04-11 13:04:51
1021895,938393,379311.0,11138.0,39.739154,-104.984703,2012-04-11 17:12:13
1021896,938627,503977.0,6562.0,28.538335,-81.379237,2012-04-11 18:09:54
1021898,938806,287341.0,12004.0,30.267153,-97.743061,2012-04-11 17:17:49
1021901,940180,1028835.0,16436.0,42.129224,-80.085059,2012-04-11 21:58:20
1021902,940219,373497.0,7489.0,40.715972,-74.001437,2012-04-11 22:14:12
1021912,943071,404031.0,1095987.0,33.448377,-112.074037,2012-04-12 09:25:48
1021915,943920,706143.0,4432.0,35.960638,-83.920739,2012-04-12 16:53:29
1021916,944155,872108.0,54467.0,33.103174,-96.670550,2012-04-12 19:06:15
1021918,944731,502383.0,23558.0,41.650111,-70.241131,2012-04-12 20:34:27
1021923,946195,354912.0,29137.0,39.867891,-75.131565,2012-04-12 20:34:29
1021925,946253,281860.0,29488.0,28.538335,-81.379237,2012-04-12 21:50:52
1021936,949275,872108.0,610705.0,33.103174,-96.670550,2012-04-13 00:55:03
1021939,949841,281860.0,9822.0,28.538335,-81.379237,2012-04-13 01:32:08
1021940,951412,919527.0,112490.0,47.606209,-122.332071,2012-04-13 01:29:20
1021943,952256,1028835.0,8595.0,42.129224,-80.085059,2012-04-13 02:42:32
1021947,953584,174305.0,916378.0,28.320007,-80.607551,2012-04-13 05:04:27
1021949,953695,146164.0,4202.0,30.267153,-97.743061,2012-04-13 03:33:53
1021952,954162,285893.0,42311.0,33.448377,-112.074037,2012-04-13 03:28:53
1021953,954283,709109.0,684720.0,33.448377,-112.074037,2012-04-13 06:26:18
1021954,954361,81625.0,5222.0,37.629349,-122.400087,2012-04-13 06:27:38
1021955,954428,626076.0,950644.0,40.850100,-73.866246,2012-04-13 06:29:25
1021957,954925,674797.0,7491.0,33.748995,-84.387982,2012-04-13 05:26:29
1021959,955561,626076.0,20073.0,40.850100,-73.866246,2012-04-13 09:56:48
1021960,955892,674797.0,2297.0,33.748995,-84.387982,2012-04-13 10:56:03
1021961,956377,845102.0,11195.0,42.765366,-71.467566,2012-04-13 12:08:45
1021962,956119,1139114.0,29488.0,42.439479,-83.743830,2012-04-13 11:36:44
1021964,956733,960666.0,60.0,42.331427,-83.045754,2012-04-13 21:56:19

In [67]:
X  = data[['latitude','longitude']][:100001]

In [68]:
ms = MeanShift(bandwidth=0.1)
ms.fit(X)

MeanShift(bandwidth=0.1, bin_seeding=False, cluster_all=True, min_bin_freq=1,
          n_jobs=None, seeds=None)

In [69]:
ms.cluster_centers_

array([[  40.7177164 ,  -73.99183542],
       [  33.44943805, -112.00213969],
       [  33.44638027, -111.90188756],
       ...,
       [ -37.8229826 ,  145.1811902 ],
       [ -41.2924945 ,  174.7732353 ],
       [ -45.0311622 ,  168.6626435 ]])

In [70]:
#new DataFrame from results
data_clustered = pd.DataFrame({"latitude": X.values[:,0],'longitude':X.values[:,1], "label": ms.labels_})
data_clustered.head()

    latitude   longitude  label
0  38.895112  -77.036366      5
1  33.800745  -84.410520      7
2  45.523452 -122.676207     30
3  40.764462 -111.904565     65
4  33.448377 -112.074037      1

In [71]:
#Group by counts to sort > 15 checkins
data_sorted = data_clustered.groupby('label').count()

In [72]:
clusters = data_sorted[data_sorted.latitude > 15].reset_index().label.values

In [73]:
centers = []
for i in clusters:
    centers.append(ms.cluster_centers_[i])

In [74]:
import numpy as np
centers_np = np.array(centers)
centers_np

array([[  40.7177164 ,  -73.99183542],
       [  33.44943805, -112.00213969],
       [  33.44638027, -111.90188756],
       ...,
       [  41.61853175,  -88.44556818],
       [  39.2494686 ,  -77.1821271 ],
       [  38.65877915,  -76.8856871 ]])

In [75]:
#Create offices array
offices = np.array([[33.751277, -118.188740],
                    [25.867736, -80.324116],
                    [51.503016, -0.075479],
                    [52.378894, 4.885084],
                    [39.366487, 117.036146],
                    [-33.868457, 151.205134]])

In [76]:
#Calculate distance
def distance(point1, point2):
    return ((point1[0] - point2[0])**2 + (point1[1] - point2[1])**2)**0.5

In [57]:

answer_index = 0
min_dist = 0
i = 0
while i < len(centers_np):
    distances = [distance(xx, centers_np[i]) for xx in offices]
    if min_dist == 0:
        min_dist = min(distances)
        answer_index = i
    else:
        if min_dist > min(distances):
            min_dist = min(distances)
            answer_index = i
    i += 1

In [58]:
answer_index

417

In [59]:
min_dist

0.007834758163107856

In [60]:
centers_np[answer_index]

array([-33.86063043, 151.20477593])

In [61]:
def write_answer(center):
    with open("answer.txt", "w") as f:
        f.write(str(center[0]) + ' ' + str(center[1]))

In [62]:
write_answer(centers_np[answer_index])