<a href="https://colab.research.google.com/github/romanslipchuk/MDS-Pandas/blob/master/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Тетрадка предназначена для студентов образвательного проекта Booster MDS использование вне проекта запрещено.

##### Задания не несут смысловой нагрузки для реальной жизни, они сделаны лишь для того, чтоб научить использовать Pandas

#### Каждое задание оценивает в 1 балл, для успешной сдачи задания нужно набрать 12 баллов

This database contains 76 attributes, but all published experiments refer to using a subset of 14 of them. In particular, the Cleveland database is the only one that has been used by ML researchers to this date. The "goal" field refers to the presence of heart disease in the patient. It is integer valued from 0 (no presence) to 1.

https://www.kaggle.com/ronitf/heart-disease-uci

___

In [13]:
import pandas as pd
import numpy as np
import os
print(os.path)

<module 'posixpath' from '/usr/lib/python3.6/posixpath.py'>

In [0]:
data = pd.read_csv('https://drive.google.com/uc?export=download&id=1eNFlps9YaZZKsH4kgABg4iJUWTCBo98Y')

In [19]:
data.head(5)

   age     sex   chest_pain_type  ...  num_major_vessels   thalassemia target
0   63    male  non-anginal pain  ...                  0        normal      1
1   37    male   atypical angina  ...                  0  fixed defect      1
2   41  female    typical angina  ...                  0  fixed defect      1
3   56    male    typical angina  ...                  0  fixed defect      1
4   57  female    typical angina  ...                  0  fixed defect      1

[5 rows x 14 columns]

#### Описание признаков

**age**: The person's age in years

**sex**: The person's sex (1 = male, 0 = female)

**cp**: The chest pain experienced (Value 1: typical angina, Value 2: atypical angina, Value 3: non-anginal pain, Value 4: asymptomatic)

**trestbps**: The person's resting blood pressure (mm Hg on admission to the hospital)

**chol**: The person's cholesterol measurement in mg/dl

**fbs**: The person's fasting blood sugar (> 120 mg/dl, 1 = true; 0 = false)

**restecg**: Resting electrocardiographic measurement (0 = normal, 1 = having ST-T wave abnormality, 2 = showing probable or definite left ventricular hypertrophy by Estes' criteria)

**thalach**: The person's maximum heart rate achieved

**exang**: Exercise induced angina (1 = yes; 0 = no)

**oldpeak**: ST depression induced by exercise relative to rest ('ST' relates to positions on the ECG plot. See more here)

**slope**: the slope of the peak exercise ST segment (Value 1: upsloping, Value 2: flat, Value 3: downsloping)

**ca**: The number of major vessels (0-3)

**thal**: A blood disorder called thalassemia (3 = normal; 6 = fixed defect; 7 = reversable defect)

**target**: Heart disease (0 = no, 1 = yes)

> 1. age 
> 2. sex 
> 3. chest pain type (4 values) 
> 4. resting blood pressure 
> 5. serum cholestoral in mg/dl 
> 6. fasting blood sugar > 120 mg/dl
> 7. resting electrocardiographic results (values 0,1,2)
> 8. maximum heart rate achieved 
> 9. exercise induced angina 
> 10. oldpeak = ST depression induced by exercise relative to rest 
> 11. the slope of the peak exercise ST segment 
> 12. number of major vessels (0-3) colored by flourosopy 
> 13. thal: 3 = normal; 6 = fixed defect; 7 = reversable defect

___

**Сколько мужчин в датасете? Сколько женщен? (sex) **

In [23]:
## Ваш код
data['sex'].value_counts()

male      207
female     96
Name: sex, dtype: int64

In [0]:
## Ваш ответ:
male      207
female     96

 **Какой процент мужчин в датасете? (решите в одну строчку, не используя предыдущий результат. Не забудте знак процента) **

In [24]:
## Ваш код
print('{:.2%}'.format(data['sex'].value_counts(normalize=True)[0]))

68.32%

In [0]:
## Ваш ответ:
68.32%

**Сколько мужчин имеют заболевание сердца? Сколько женщин имеют заболевание сердца? **

In [31]:
## Ваш код
print('Male with heart desiase = {}'.format(data[data['sex']=='male']['target'].sum()))
print('Feale with heart desiase = {}'.format(data[data['sex']=='female']['target'].sum()))

Male with heart desiase = 93
Feale with heart desiase = 72

In [0]:
## Ваш ответ:
Male with heart desiase = 93
Feale with heart desiase = 72

**Какую долю, от общего числа пациентов, занимают мужчины не имеющие болезнь сердца?**

In [35]:
## Ваш код


print('OK - man are {:.2%} of all mens'.format(data[data['sex']=='male']['target'].value_counts(normalize=True)[0]))

OK - man are 55.07% of all mens

In [0]:
## Ваш ответ:
OK - man are 55.07% of all mens

**Сколько лет самому молодому пациенту, страдающему болезнью сердца?**

In [38]:
## Ваш код
data[data['target']==1]['age'].min()

29

In [0]:
## Ваш ответ:

**Сколько лет самому возастному пациенту, у которого нет проблем с сердцем?**

In [0]:
## Ваш код

In [0]:
## Ваш ответ:

**Сколько лет самой молодой женщине, которая страдает болезнью сердца?**

In [0]:
## Ваш код

In [0]:
## Ваш ответ:

**Какой средний возраст женщин?**

In [0]:
## Ваш код

In [0]:
## Ваш ответ:

**Каковы средние значения и среднеквадратичные отклонения возраста тех, кто страдают болезнью сердца?**

In [0]:
## Ваш код

In [0]:
## Ваш ответ:

** Правда ли, что люди не болеющие болезнью сердца имеют уровня холестерина меньше среднего? (chol) **

In [0]:
## Ваш код

In [0]:
## Ваш ответ:

**Выведите статистику rest_ecg для все числовых признаков, его максимально и среднее значение (используйте groupby(), решите в одну строчку)**

In [0]:
## Ваш код

In [0]:
## Ваш ответ:

**Посчитайте у кого уровень депрессии при физический нагрузке выше (в среднем), среди мужчин страдающих болезнью сердца или среди женщин не страдающих болезнью сердца (st_depression)**

In [0]:
## Ваш код

In [0]:
## Ваш ответ:

**Посчтитайте максимальный и минимальный уровень холестерина для каждого типа chest_pain_type, rest_ecg, thalassemia. Пишите код оптимально, можно использовать циклы**

In [0]:
## Ваш код

In [0]:
## Ваш ответ:

**Сколько значений может принимать каждый из категориальных признаков?**

In [0]:
## Ваш код

In [0]:
## Ваш ответ:

**У какого категориального признака наблюдается самый сильный дизбаланс классов?**

In [0]:
## Ваш код

In [0]:
## Ваш ответ:

---

@Booster
Мамкин Data Scientist

tg @mommyscience