<a href="https://colab.research.google.com/github/romanslipchuk/MDS-Pandas/blob/master/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Тетрадка предназначена для студентов образвательного проекта Booster MDS использование вне проекта запрещено.

##### Задания не несут смысловой нагрузки для реальной жизни, они сделаны лишь для того, чтоб научить использовать Pandas

#### Каждое задание оценивает в 1 балл, для успешной сдачи задания нужно набрать 12 баллов

This database contains 76 attributes, but all published experiments refer to using a subset of 14 of them. In particular, the Cleveland database is the only one that has been used by ML researchers to this date. The "goal" field refers to the presence of heart disease in the patient. It is integer valued from 0 (no presence) to 1.

https://www.kaggle.com/ronitf/heart-disease-uci

___

In [0]:
import pandas as pd
import numpy as np
import os

<module 'posixpath' from '/usr/lib/python3.6/posixpath.py'>

In [0]:
data = pd.read_csv('https://drive.google.com/uc?export=download&id=1eNFlps9YaZZKsH4kgABg4iJUWTCBo98Y')

In [0]:
data.head()

   age     sex   chest_pain_type  ...  num_major_vessels   thalassemia target
0   63    male  non-anginal pain  ...                  0        normal      1
1   37    male   atypical angina  ...                  0  fixed defect      1
2   41  female    typical angina  ...                  0  fixed defect      1
3   56    male    typical angina  ...                  0  fixed defect      1
4   57  female    typical angina  ...                  0  fixed defect      1

[5 rows x 14 columns]

#### Описание признаков

**age**: The person's age in years

**sex**: The person's sex (1 = male, 0 = female)

**cp**: The chest pain experienced (Value 1: typical angina, Value 2: atypical angina, Value 3: non-anginal pain, Value 4: asymptomatic)

**trestbps**: The person's resting blood pressure (mm Hg on admission to the hospital)

**chol**: The person's cholesterol measurement in mg/dl

**fbs**: The person's fasting blood sugar (> 120 mg/dl, 1 = true; 0 = false)

**restecg**: Resting electrocardiographic measurement (0 = normal, 1 = having ST-T wave abnormality, 2 = showing probable or definite left ventricular hypertrophy by Estes' criteria)

**thalach**: The person's maximum heart rate achieved

**exang**: Exercise induced angina (1 = yes; 0 = no)

**oldpeak**: ST depression induced by exercise relative to rest ('ST' relates to positions on the ECG plot. See more here)

**slope**: the slope of the peak exercise ST segment (Value 1: upsloping, Value 2: flat, Value 3: downsloping)

**ca**: The number of major vessels (0-3)

**thal**: A blood disorder called thalassemia (3 = normal; 6 = fixed defect; 7 = reversable defect)

**target**: Heart disease (0 = no, 1 = yes)

> 1. age 
> 2. sex 
> 3. chest pain type (4 values) 
> 4. resting blood pressure 
> 5. serum cholestoral in mg/dl 
> 6. fasting blood sugar > 120 mg/dl
> 7. resting electrocardiographic results (values 0,1,2)
> 8. maximum heart rate achieved 
> 9. exercise induced angina 
> 10. oldpeak = ST depression induced by exercise relative to rest 
> 11. the slope of the peak exercise ST segment 
> 12. number of major vessels (0-3) colored by flourosopy 
> 13. thal: 3 = normal; 6 = fixed defect; 7 = reversable defect

___

**Сколько мужчин в датасете? Сколько женщен? (sex) **

In [0]:
## Ваш код
data['sex'].value_counts()

male      207
female     96
Name: sex, dtype: int64

In [0]:
## Ваш ответ:
male      207
female     96

 **Какой процент мужчин в датасете? (решите в одну строчку, не используя предыдущий результат. Не забудте знак процента) **

In [0]:
## Ваш код
print('{:.2%}'.format(data['sex'].value_counts(normalize=True)[0]))

68.32%

In [0]:
## Ваш ответ:
68.32%

**Сколько мужчин имеют заболевание сердца? Сколько женщин имеют заболевание сердца? **

In [0]:
## Ваш код
print('Male with heart desiase = {}'.format(len(data[(data['sex']=='male') & (data['target']==1)])))
print('Female with heart desiase = {}'.format(data[data['sex']=='female']['target'].sum()))

Male with heart desiase = 93
Female with heart desiase = 72

In [0]:
## Ваш ответ:
Male with heart desiase = 93
Female with heart desiase = 72

**Какую долю, от общего числа пациентов, занимают мужчины не имеющие болезнь сердца?**

In [0]:
## Ваш код
ok_man_perc = len(data[(data.sex == 'male') & (data.target == 0)]) / len(data)
print('{:.2%}'.format(ok_man_perc))

37.62%

In [0]:
## Ваш ответ:
37.62%

**Сколько лет самому молодому пациенту, страдающему болезнью сердца?**

In [0]:
## Ваш код
data[data['target']==1]['age'].min()

29

In [0]:
## Ваш ответ:
29

**Сколько лет самому возастному пациенту, у которого нет проблем с сердцем?**

In [0]:
## Ваш код
data[data['target'] == 0]['age'].max()

77

In [0]:
## Ваш ответ:
77

**Сколько лет самой молодой женщине, которая страдает болезнью сердца?**

In [0]:
## Ваш код
data[(data['sex']=='female') & (data['target']==1)]['age'].min()

34

In [0]:
## Ваш ответ:
34

**Какой средний возраст женщин?**

In [0]:
## Ваш код
data[data['sex']=='female']['age'].mean()

55.677083333333336

In [0]:
## Ваш ответ:
55.677083333333336

**Каковы средние значения и среднеквадратичные отклонения возраста тех, кто страдают болезнью сердца?**

In [0]:
## Ваш код
print('Mean age with HD is:{}'.format(data[data['target']==1]['age'].mean()))
print('STD is:{}'.format(data[data['target']==1]['age'].std()))

Mean age with HD is:52.4969696969697
STD is:9.550650751946778

In [0]:
## Ваш ответ:
Mean age with HD is:52.4969696969697
STD is:9.550650751946778

** Правда ли, что люди не болеющие болезнью сердца имеют уровень холестерина меньше среднего? (chol) **

In [0]:
## Ваш код
print(data[data['target']==0]['cholesterol'].mean() < data['cholesterol'].mean())

False

In [0]:
## Ваш ответ:
нет, не правда

**Выведите статистику rest_ecg для все числовых признаков, его максимально и среднее значение (используйте groupby(), решите в одну строчку)**

In [0]:
## Ваш код
data.groupby('rest_ecg').agg([np.mean,np.max])

                                    age       ...    target
                                   mean amax  ...      mean amax
rest_ecg                                      ...
ST-T wave abnormality         52.914474   71  ...  0.631579    1
left ventricular hypertrophy  61.000000   76  ...  0.250000    1
normal                        55.687075   77  ...  0.462585    1

[3 rows x 14 columns]

**Посчитайте у кого уровень депрессии при физический нагрузке выше (в среднем), среди мужчин страдающих болезнью сердца или среди женщин не страдающих болезнью сердца (st_depression)**

In [0]:
## Ваш код
print(data[(data.sex == 'male') & (data.target == 1)].st_depression.mean())
print(data[(data.sex == 'female') & (data.target == 0)].st_depression.mean())

0.6053763440860216
1.8416666666666666

In [0]:
## Ваш ответ:
У женщин не страдающих болезнью сердца уровень депресии выше чем у мужчин страдающих болезнью сердца

**Посчтитайте максимальный и минимальный уровень холестерина для каждого типа chest_pain_type, rest_ecg, thalassemia. Пишите код оптимально, можно использовать циклы**

In [0]:
## Ваш код
for type in ['chest_pain_type','rest_ecg','thalassemia']:
  print(data.groupby(type).cholesterol.agg([np.min,np.max]))

                  amin  amax
chest_pain_type
atypical angina    126   564
non-anginal pain   182   298
typical angina     131   409
                              amin  amax
rest_ecg
ST-T wave abnormality          126   354
left ventricular hypertrophy   197   327
normal                         149   564
                   amin  amax
thalassemia
fixed defect        141   417
normal              169   318
reversable defect   126   564

**Сколько значений может принимать каждый из категориальных признаков?**

In [0]:
## Ваш код
data.describe(include='object').loc['unique']

sex                        2
chest_pain_type            3
fasting_blood_sugar        2
rest_ecg                   3
exercise_induced_angina    2
st_slope                   2
thalassemia                3
Name: unique, dtype: object

**У какого категориального признака наблюдается самый сильный дизбаланс классов?**

In [0]:
## Ваш код
types = data.describe(include='object').columns
for type in types:
  print(type)
  print(data[type].value_counts(normalize=True),'\n\n')

sex
male      0.683168
female    0.316832
Name: sex, dtype: float64


chest_pain_type
typical angina      0.636964
atypical angina     0.287129
non-anginal pain    0.075908
Name: chest_pain_type, dtype: float64


fasting_blood_sugar
lower than 120mg/ml      0.851485
greater than 120mg/ml    0.148515
Name: fasting_blood_sugar, dtype: float64


rest_ecg
ST-T wave abnormality           0.501650
normal                          0.485149
left ventricular hypertrophy    0.013201
Name: rest_ecg, dtype: float64


exercise_induced_angina
no     0.673267
yes    0.326733
Name: exercise_induced_angina, dtype: float64


st_slope
upsloping    0.531353
flat         0.468647
Name: st_slope, dtype: float64


thalassemia
fixed defect         0.547855
reversable defect    0.386139
normal               0.066007
Name: thalassemia, dtype: float64

In [0]:
## Ваш ответ:
fasting_blood_sugar - Самый сильный дисбаланс классов >60%

---

@Booster
Мамкин Data Scientist

tg @mommyscience