### Задание по программированию: Рекомендательные системы

### Описание задачи

Небольшой интернет-магазин попросил вас добавить ранжирование товаров в блок "Смотрели ранее" - в нем теперь надо показывать не последние просмотренные пользователем товары, а те товары из просмотренных, которые он наиболее вероятно купит. Качество вашего решения будет оцениваться по количеству покупок в сравнении с прошлым решением в ходе А/В теста, т.к. по доходу от продаж статзначимость будет достигаться дольше из-за разброса цен. Таким образом, ничего заранее не зная про корреляцию оффлайновых и онлайновых метрик качества, в начале проекта вы можете лишь постараться оптимизировать recall@k и precision@k.

Это задание посвящено построению простых бейзлайнов для этой задачи: ранжирование просмотренных товаров по частоте просмотров и по частоте покупок. Эти бейзлайны, с одной стороны, могут помочь вам грубо оценить возможный эффект от ранжирования товаров в блоке - например, чтобы вписать какие-то числа в коммерческое предложение заказчику, а с другой стороны, могут оказаться самым хорошим вариантом, если данных очень мало (недостаточно для обучения даже простых моделей).

### Входные данные

Вам дается две выборки с пользовательскими сессиями - id-шниками просмотренных и id-шниками купленных товаров. Одна выборка будет использоваться для обучения (оценки популярностей товаров), а другая - для теста.

В файлах записаны сессии по одной в каждой строке. Формат сессии: id просмотренных товаров через , затем идёт ; после чего следуют id купленных товаров (если такие имеются), разделённые запятой. Например, 1,2,3,4; или 1,2,3,4;5,6.

Гарантируется, что среди id купленных товаров все различные.

Важно:

    Сессии, в которых пользователь ничего не купил, исключаем из оценки качества.
    Если товар не встречался в обучающей выборке, его популярность равна 0.
    Рекомендуем разные товары. И их число должно быть не больше, чем количество различных просмотренных пользователем товаров.
    Рекомендаций всегда не больше, чем минимум из двух чисел: количество просмотренных пользователем товаров и k в recall@k / precision@k.

### Задание

    На обучении постройте частоты появления id в просмотренных и в купленных (id может несколько раз появляться в просмотренных, все появления надо учитывать)
    Реализуйте два алгоритма рекомендаций:

    сортировка просмотренных id по популярности (частота появления в просмотренных),
    сортировка просмотренных id по покупаемости (частота появления в покупках).

3. Для данных алгоритмов выпишите через пробел AverageRecall@1, AveragePrecision@1, AverageRecall@5, AveragePrecision@5 на обучающей и тестовых выборках, округляя до 2 знака после запятой. Это будут ваши ответы в этом задании. Посмотрите, как они соотносятся друг с другом. Где качество получилось выше? Значимо ли это различие? Обратите внимание на различие качества на обучающей и тестовой выборке в случае рекомендаций по частотам покупки.

Если частота одинаковая, то сортировать нужно по возрастанию момента просмотра (чем раньше появился в просмотренных, тем больше приоритет)

Дополнительные вопросы

    Обратите внимание, что при сортировке по покупаемости возникает много товаров с одинаковым рангом - это означает, что значение метрик будет зависеть от того, как мы будем сортировать товары с одинаковым рангом. Попробуйте убедиться, что при изменении сортировки таких товаров recall@k меняется. Подумайте, как оценить минимальное и максимальное значение recall@k в зависимости от правила сортировки.
    Мы обучаемся и тестируемся на полных сессиях (в которых есть все просмотренные за сессию товары). Подумайте, почему полученная нами оценка качества рекомендаций в этом случае несколько завышена.

In [1]:
import pandas as pd
import numpy as np

In [6]:
train = pd.read_table('coursera_sessions_train.txt', sep=";" , header = None)
test = pd.read_table('coursera_sessions_test.txt', sep=";" , header = None)

In [8]:
train.dropna(inplace=True)

In [41]:
from collections import Counter
def counter_of(series):
    dct = Counter(series.split(',')).most_common()
    return dct

In [42]:
train['checked'] = train[0].apply(counter_of)

In [43]:
train

,0,1,checked
7,"59,60,61,62,60,63,64,65,66,61,67,68,67","67,60,63","[(60, 2), (61, 2), (67, 2), (59, 1), (62, 1), ..."
10,"84,85,86,87,88,89,84,90,91,92,93,86",86,"[(84, 2), (86, 2), (85, 1), (87, 1), (88, 1), ..."
19,"138,198,199,127",199,"[(138, 1), (198, 1), (199, 1), (127, 1)]"
30,"303,304,305,306,307,308,309,310,311,312",303,"[(303, 1), (304, 1), (305, 1), (306, 1), (307,..."
33,"352,353,352",352,"[(352, 2), (353, 1)]"
55,519,519,"[(519, 1)]"
64,"599,600,601,602","603,604,602,599,605,606,600","[(599, 1), (600, 1), (601, 1), (602, 1)]"
72,"687,688,689,690,691,690,688,690,688,692","690,688","[(688, 3), (690, 3), (687, 1), (689, 1), (691,..."
89,"850,851,852",851,"[(850, 1), (851, 1), (852, 1)]"
93,"879,884,170,137,170,879,884,879,885,886,879,88...",879,"[(879, 9), (884, 4), (343, 4), (170, 3), (886,..."
125,1118,1118,"[(1118, 1)]"
180,1545,1545,"[(1545, 1)]"
201,1727,1727,"[(1727, 1)]"
219,99,99,"[(99, 1)]"
228,"1907,1908,1909,1910,1911,1912,1913,1914,1907,1...",1907,"[(1907, 3), (1908, 1), (1909, 1), (1910, 1), (..."
231,"1945,1957,1958,1959,1960,1961,1962,1963",1959,"[(1945, 1), (1957, 1), (1958, 1), (1959, 1), (..."
233,"1997,1998,244,1998,1999,1969,2000,1339",1998,"[(1998, 2), (1997, 1), (244, 1), (1999, 1), (1..."
236,"2013,2016,2013,2016,2013",2013,"[(2013, 3), (2016, 2)]"
237,2019,2019,"[(2019, 1)]"
290,"2462,2463,2462,2463,2462",2462,"[(2462, 3), (2463, 2)]"
299,2520,2520,"[(2520, 1)]"
305,"2542,2543",2543,"[(2542, 1), (2543, 1)]"
328,"1526,552,2710,552,2710,552,2710,552,2710,552,1526",1526,"[(552, 5), (2710, 4), (1526, 2)]"
334,"2757,2761,2757,2761,2762,2763,2108,2764",2764,"[(2757, 2), (2761, 2), (2762, 1), (2763, 1), (..."
347,"2180,2857,2860,2861","2857,2853,2852","[(2180, 1), (2857, 1), (2860, 1), (2861, 1)]"
355,"2919,511,2920",2920,"[(2919, 1), (511, 1), (2920, 1)]"
358,"2933,2930,2933",2930,"[(2933, 2), (2930, 1)]"
369,"3022,3023,3024,2605,3025,3026,3027,2605,3028,3...","3033,3026,3032,3031","[(2605, 3), (3028, 3), (3026, 2), (3032, 2), (..."
380,"3100,1260,3101,3102,3103,1260,3103,3100,3102,3...","3102,3100,1260","[(3100, 3), (3102, 3), (3103, 3), (1260, 2), (..."
394,"3203,3204,3205,3206,3207,3208,3209,3210,3211,3...","3204,3207,3217","[(3217, 4), (3220, 4), (3208, 3), (3207, 2), (..."
...,...,...,...
49597,"102417,30119,102417,102418",102417,"[(102417, 2), (30119, 1), (102418, 1)]"
49617,170,170,"[(170, 1)]"
49651,9588,9588,"[(9588, 1)]"
49664,"28780,13126,26546,32485,29441,102462","26546,102462","[(28780, 1), (13126, 1), (26546, 1), (32485, 1..."
49674,"2735,25760,2735","25760,2735","[(2735, 2), (25760, 1)]"
49698,"50061,11350,28920",50061,"[(50061, 1), (11350, 1), (28920, 1)]"
49707,"8596,1841,69494,26568,21170,20965,19640,59800,...",27110,"[(8596, 1), (1841, 1), (69494, 1), (26568, 1),..."
49725,"26754,15139,26754,2563,13196",26754,"[(26754, 2), (15139, 1), (2563, 1), (13196, 1)]"
49729,"5210,42833,5210,42833",5210,"[(5210, 2), (42833, 2)]"
49782,"13882,42887",42887,"[(13882, 1), (42887, 1)]"
49783,"33906,102566,33906,4090,102567",33906,"[(33906, 2), (102566, 1), (4090, 1), (102567, 1)]"
49789,13992,13992,"[(13992, 1)]"
49798,"490,91758",91758,"[(490, 1), (91758, 1)]"
49818,"87416,85772,1451,87416",87416,"[(87416, 2), (85772, 1), (1451, 1)]"
49831,"1214,1843,8029,262,1214,1242,14838,12971,14938...",1843,"[(1214, 2), (1843, 2), (12971, 2), (8029, 1), ..."
49834,"2397,3502,2397",2397,"[(2397, 2), (3502, 1)]"
49852,"8136,37538,8136",8136,"[(8136, 2), (37538, 1)]"
49855,16601,16601,"[(16601, 1)]"
49877,"3340,72857,3718,14332,46342,13559,736,46342,13...","46342,3718,1523,1474","[(3718, 3), (46342, 2), (13559, 2), (736, 2), ..."
49882,"4369,4382,4369,4382,3606,30592,4383,4382,9773,...","3644,3613,54645,4062","[(4062, 5), (14923, 4), (4382, 3), (3613, 3), ..."
49883,"102634,102635,53993,17789,102636,100281,70852,...","102646,31606,82040,79276,46265","[(46265, 3), (37773, 3), (5400, 3), (14923, 3)..."
49890,"100868,52799,16746,102651,102652,102653,102654...",22599,"[(100868, 2), (52799, 1), (16746, 1), (102651,..."
49896,77921,77921,"[(77921, 1)]"
49908,"3268,37018,3265,3268,37018,10444,3265,3268,112...",3268,"[(3268, 5), (37018, 3), (3265, 2), (10444, 1),..."
49932,"17882,50751",50751,"[(17882, 1), (50751, 1)]"
49943,"41795,4337,4335,4337,4335,24087,4335,41795,240...",4335,"[(4335, 4), (41795, 2), (4337, 2), (24073, 2),..."
49964,"6366,15269,6366,5895,6366,5895",5895,"[(6366, 3), (5895, 2), (15269, 1)]"
49981,"64552,25931,2807","25935,2807","[(64552, 1), (25931, 1), (2807, 1)]"
49991,"91921,20251,5063,21742,5063,20251,34927",91921,"[(20251, 2), (5063, 2), (91921, 1), (21742, 1)..."
49995,"32291,60520,32291,38220",32291,"[(32291, 2), (60520, 1), (38220, 1)]"